/* COLOR CODES  */


/* ROW BACKGROUND #6e6e6e */


/* FOOTER START  */


/*! CSS Used from: https://nexgen-html.codings.dev/assets/css/vendor/bootstrap.min.css */

*,
::after,
::before {
    box-sizing: border-box;
}

footer,
section {
    display: block;
}

h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

h4 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12,
.col-lg-3,
.col-lg-4,
.col-lg-9,
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width:992px) {
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.btn:disabled {
    opacity: .65;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.mr-2 {
    margin-right: .5rem!important;
}

.mt-4 {
    margin-top: 1.5rem!important;
}

.p-0 {
    padding: 0!important;
}

.p-3 {
    padding: 1rem!important;
}

.text-center {
    text-align: center!important;
}

@media (min-width:992px) {
    .text-lg-left {
        text-align: left!important;
    }
    .text-lg-right {
        text-align: right!important;
    }
}

@media print {
    *,
     ::after,
     ::before {
        text-shadow: none!important;
        box-shadow: none!important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    p {
        orphans: 3;
        widows: 3;
    }
    .container {
        min-width: 992px!important;
    }
}


/*! CSS Used
from: https://nexgen-html.codings.dev/assets/css/main.css */

div,
span,
h4,
p,
a,
i,
ul,
li,
footer,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

footer,
section {
    display: block;
}

body .odd {
    color: var(--secondary-p-color);
}

ul {
    padding-left: 20px;
    text-align: left;
}

ul {
    list-style: disc;
}

 ::selection {
    background: rgba(166, 175, 189, 0.3);
}

 ::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:not(.btn),
a:link:not(.btn),
a:visited:not(.btn),
a:hover:not(.btn),
a:active:not(.btn) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
    text-decoration: none;
}

p {
    margin: 1.5rem 0;
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: 1.5;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

h4 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary-t-color);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.odd h4 {
    color: var(--secondary-t-color);
}

li {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

section {
    position: relative;
    width: 100%;
    padding: 130px 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.footer {
    background-image: var(--footer-bg-image);
}

.container {
    max-width: 1170px;
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.offers .items .item {
    margin-bottom: 30px;
}

.card {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 45px;
    border-radius: 10px;
    border: none;
    background-color: var(--card-bg-color);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.odd:not(.custom) .card:not(.no-hover) {
    background-color: rgba(255, 255, 255, 0.035);
}

.card:not(.no-hover):hover {
    transform: translateY(-7.5px);
}

.card:not(.no-hover):hover:before,
.card:not(.no-hover):hover:after {
    opacity: 0;
}

.odd .card:not(.no-hover):hover h4 {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover a {
    color: var(--primary-bg-color);
}

.odd .card:not(.no-hover):hover i {
    color: var(--primary-bg-color);
}

.btn {
    width: fit-content;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem 1.25rem;
    border-width: 0;
    border-radius: 2px;
}

.btn:hover,
.btn:focus {
    outline: none;
    box-shadow: none;
}

footer {
    position: relative;
    background-color: var(--footer-bg-color);
}

footer .card h4 {
    margin-top: 0;
}

footer .card i {
    margin-right: 10px;
}

footer .items .card a:not(.btn) {
    margin: 0 0 0.5rem;
    display: block;
    color: var(--primary-p-color);
}

footer .odd .items .card a:not(.btn):last-child {
    margin-bottom: 5px;
}

footer .odd .items .card a:not(.btn) {
    color: var(--secondary-p-color);
}

footer .items .card:not(.no-hover):hover a:not(.btn):hover {
    color: var(--secondary-color);
}

footer .items .card a:not(.btn):hover i {
    color: var(--secondary-color);
}

footer a.navbar-brand:not(.btn) {
    padding: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    color: var(--nav-item-color);
}

footer .navbar-brand .brand {
    letter-spacing: 5px;
    color: var(--secondary-p-color);
}

footer .navbar-brand .featured {
    position: relative;
    display: inline-block;
    padding: 13px 2px 14px 30px;
}

footer .navbar-brand .featured:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 7.5px);
    height: 100%;
    border-radius: 100px 0 0 100px;
    background-color: var(--secondary-color);
    opacity: 0.15;
}

footer .navbar-brand .featured .first {
    position: relative;
    margin-right: -10px;
    color: var(--secondary-color);
}

footer .nav-item {
    margin: 0;
}

footer .nav-item .nav-link {
    font-weight: 400;
    line-height: 1.4;
    color: inherit;
}

footer .nav-item .nav-link:hover {
    color: var(--primary-color);
    outline: none;
}

footer .copyright {
    background-color: var(--primary-l-color);
}

footer .copyright p {
    font-size: 14px;
    line-height: 1.8;
}

@media (max-width: 1199px) {
    body .container {
        padding: 0 10px;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    body .footer {
        text-align: center;
    }
    body .footer .navbar-nav {
        text-align: center;
    }
    body .footer .btn {
        margin: 10px auto 50px;
    }
    body footer .card i {
        display: none;
    }
}

@media (max-width: 767px) {
    body .offers .items .item {
        margin-bottom: 0;
    }
    body .offers .items .item {
        margin-bottom: 30px;
    }
    body .navbar-brand {
        margin: 0;
    }
    body section {
        padding: 90px 0;
    }
    body footer .navbar-nav {
        margin-bottom: 35px;
    }
}


/*! CSS Used from: https://nexgen-html.codings.dev/assets/css/vendor/icons.min.css
*/

.icon-arrow-right {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e606";
}


/*!
CSS Used from: https://nexgen-html.codings.dev/assets/css/vendor/icons-fa.min.css */

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

.fa-phone-alt:before {
    content: "\f879";
}

.fas {
    font-family: "Font Awesome 5 Free";
}

.fas {
    font-weight: 900;
}


/*! CSS Used from: https://nexgen-html.codings.dev/assets/css/default.css
*/

.outline-button,
.outline-button:visited,
.outline-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.odd .outline-button,
.odd .outline-button:visited,
.odd .outline-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary-color);
    color: var(--primary-b-color);
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.outline-button:hover,
.outline-button:focus {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--white-color);
}


/*! CSS Used fontfaces */

@font-face {
    font-family: 'icons';
    src: url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.eot?v=2.4.0');
    src: url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.eot?v=2.4.0#iefix') format('embedded-opentype'), url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.woff2?v=2.4.0') format('woff2'), url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.ttf?v=2.4.0') format('truetype'), url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.woff?v=2.4.0') format('woff'), url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.svg?v=2.4.0#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.eot);
    src: url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.eot#iefix) format("embedded-opentype"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.woff2) format("woff2"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.woff) format("woff"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.ttf) format("truetype"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.eot);
    src: url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.eot#iefix) format("embedded-opentype"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.woff2) format("woff2"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.woff) format("woff"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.ttf) format("truetype"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.svg#fontawesome) format("svg");
}


/* FOOTER END  */


/* CONTACT STARTS  */


/*! CSS Used from: https://nexgen-html.codings.dev/assets/css/vendor/bootstrap.min.css */


/* *,
::after,
::before {
    box-sizing: border-box;
}

section {
    display: block;
}

h2,
h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    overflow: visible;
}

select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

textarea {
    overflow: auto;
    resize: vertical;
}

h2,
h4 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12,
.col-md-4,
.col-md-6,
.col-md-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

textarea.form-control {
    height: auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.btn:disabled {
    opacity: .65;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

.input-group>.form-control:focus {
    z-index: 3;
}

.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.m-0 {
    margin: 0!important;
}

.mt-2 {
    margin-top: .5rem!important;
}

.mr-2 {
    margin-right: .5rem!important;
}

.mr-3 {
    margin-right: 1rem!important;
}

.p-0 {
    padding: 0!important;
}

.p-2 {
    padding: .5rem!important;
}

@media (min-width:768px) {
    .pr-md-5 {
        padding-right: 3rem!important;
    }
}

@media print {
    *,
    ::after,
    ::before {
        text-shadow: none!important;
        box-shadow: none!important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    h2,
    p {
        orphans: 3;
        widows: 3;
    }
    h2 {
        page-break-after: avoid;
    }
    .container {
        min-width: 992px!important;
    }
}


/*! CSS Used from: https://nexgen-html.codings.dev/assets/css/main.css */

div,
span,
h2,
h4,
p,
a,
i,
ul,
li,
form,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

section {
    display: block;
}

ul {
    padding-left: 20px;
    text-align: left;
}

ul {
    list-style: disc;
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:not(.btn),
a:link:not(.btn),
a:visited:not(.btn),
a:hover:not(.btn),
a:active:not(.btn) {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
    text-decoration: none;
}

a:not([href]),
a:not([href]):hover {
    color: var(--primary-b-color);
}

p {
    margin: 1.5rem 0;
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: 1.5;
}

p:last-child {
    margin-bottom: 0;
}

.pre-title {
    width: fit-content;
    margin: auto;
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
}

h2 {
    margin: 1.5rem 0;
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    line-height: 1.2;
    font-family: var(--h2-font);
    color: var(--primary-t-color);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h2 .featured {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: var(--primary-color);
}

h2 .featured:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: var(--primary-color);
    opacity: 0.15;
}

h2 .featured span {
    position: relative;
}

h4 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary-t-color);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

li {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

form {
    width: 100%;
}

input,
select {
    width: 100%;
    height: 44px;
    background: no-repeat;
    box-shadow: none;
    padding: 0.7rem 1rem;
    border-color: var(--primary-l-color);
    border-width: 1px;
    border-radius: 2px;
}

textarea {
    width: 100%;
    height: auto;
    background: no-repeat;
    box-shadow: none;
    padding: 0.7rem 1rem;
    border-color: var(--primary-l-color);
    border-width: 1px;
    border-radius: 2px;
}

input:focus,
textarea:focus,
select:focus {
    background: no-repeat;
    color: inherit;
    outline: none;
    border-color: inherit;
    box-shadow: none;
}

input {
    border-color: var(--primary-l-color);
    color: var(--primary-t-color);
}

input:focus {
    border-color: var(--primary-t-color);
    color: var(--primary-t-color);
}

textarea {
    height: 100px;
    resize: none;
    border-color: var(--primary-l-color);
    color: var(--primary-t-color);
}

textarea:focus {
    border-color: var(--primary-t-color);
    color: var(--primary-t-color);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    line-height: 1.2;
    border-color: var(--primary-l-color);
    color: #6c757d;
}

select:focus {
    border-color: var(--primary-t-color);
    color: var(--primary-t-color);
}

select option {
    color: #2f323a;
}

section {
    position: relative;
    width: 100%;
    padding: 130px 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section.section-6 {
    background-color: var(--section-6-bg-color);
    background-image: var(--section-6-bg-image);
}

.container {
    max-width: 1170px;
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.intro {
    margin-bottom: 50px;
}

.contacts h4 {
    margin-top: 0;
}

.contacts a:not(.btn) {
    padding: 5px 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.contacts li {
    margin: 6.1px 0;
}

.contacts i {
    width: 45px;
    height: 45px;
    background: var(--primary-bg-color-3);
    border-radius: 100px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}

.form-group-margin {
    margin: 0 -7.5px;
}

.btn {
    width: fit-content;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem 1.25rem;
    border-width: 0;
    border-radius: 2px;
}

.btn:hover,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-control {
    width: 100%;
    height: 50px;
    background: no-repeat;
    box-shadow: none;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.075);
    border: none;
    border-radius: 4px;
    line-height: 1.2;
    color: var(--primary-t-color);
}

select.form-control {
    color: #6c757d;
}

.form-control:disabled {
    background-color: inherit;
    opacity: 0.75;
    cursor: no-drop;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    color: var(--primary-t-color);
    border: none;
    box-shadow: none;
}

textarea.form-control {
    width: 100%;
    min-height: 152px;
}

.input-group>.form-control:not(:first-child) {
    border-radius: 2px;
}

.input-group {
    margin: 10px 0;
}

.input-group .icon-arrow-down {
    position: absolute;
    top: calc(50% - 8px);
    right: 8px;
    color: var(--primary-t-color);
}

.form-alert {
    margin: 1rem 0;
    display: block;
    color: var(--invalid-color);
}

@media (max-width: 1199px) {
    body .container {
        padding: 0 10px;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    body h2 {
        font-size: 2rem;
    }
    body .contact form {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 767px) {
    body section {
        padding: 90px 0;
    }
}


/*! CSS Used from: https://nexgen-html.codings.dev/assets/css/vendor/icons.min.css */

.icon-arrow-down {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e604";
}


/*! CSS Used from: https://nexgen-html.codings.dev/assets/css/vendor/icons-fa.min.css */

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-map-marker-alt:before {
    content: "\f3c5";
}

.fa-phone-alt:before {
    content: "\f879";
}

.fas {
    font-family: "Font Awesome 5 Free";
}

.fas {
    font-weight: 900;
}


/*! CSS Used from: https://nexgen-html.codings.dev/assets/css/default.css */

.primary-button,
.primary-button:visited,
.primary-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary-color);
    color: var(--primary-b-color);
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.primary-button:hover,
.primary-button:focus {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white-color);
}

.outline-button,
.outline-button:visited,
.outline-button:active {
    position: relative;
    z-index: 2;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}

.outline-button:hover,
.outline-button:focus {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--white-color);
}


/*! CSS Used fontfaces */

@font-face {
    font-family: 'icons';
    src: url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.eot?v=2.4.0');
    src: url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.eot?v=2.4.0#iefix') format('embedded-opentype'), url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.woff2?v=2.4.0') format('woff2'), url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.ttf?v=2.4.0') format('truetype'), url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.woff?v=2.4.0') format('woff'), url('https://nexgen-html.codings.dev/assets/fonts/icons/Icons-Line.svg?v=2.4.0#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.eot);
    src: url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.eot#iefix) format("embedded-opentype"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.woff2) format("woff2"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.woff) format("woff"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.ttf) format("truetype"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.eot);
    src: url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.eot#iefix) format("embedded-opentype"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.woff2) format("woff2"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.woff) format("woff"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.ttf) format("truetype"), url(https://nexgen-html.codings.dev/assets/fonts/icons-fa/fa-solid-900.svg#fontawesome) format("svg");
}


/* CONTACT ENDS  */